
prefs/.idea/inspectionProfiles/

prefs/.idea/

prefs/mainWindowStates/

prefs/markingMenus/

prefs/scriptEditorTemp/

prefs/scripts/.idea/

prefs/scripts/.vscode/
prefs/scripts/venv/

*.pyc

prefs/scripts/ptvsd/

prefs/MayaInterfaceScalingConfig
